@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #2d1621;
}

:root{
    --bg-color: #2d1621;
    --bg-light-color: #303036;
    --text-color: #f9f9f9;
    --main-color: #8f43ee;
    --para-color: #9c9c9c;
    --light-color: #b37df5;
    --extra-light: #b98dee;
}

/* HEADER */

.container{
    max-width: 1350px;
    margin: auto;
    padding: 0px 75px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.navbar .logo {
    font-size: 23px;
    font-weight: 700;
    color: var(--text-color);
}

.navbar .RightNav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: var(--text-color);
}
nav ul li a:hover {
    text-decoration: none;
    color: var(--light-color);
}


/* Link hover effect */


nav ul li:hover:after{
    width: 100%;
    left: 0;
}

nav ul li:after{
    content: "";
    pointer-events: none;
    bottom: -2px;
    left:50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--light-color);
    transition-timing-function: cubic-bezier(0.25 ,0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* Main Content */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #222;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content p{
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.containerCONTACT{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.containerCONTACT .contactINFO{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.containerCONTACT .contactINFO .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
    
}

.containerCONTACT .contactINFO .box .icon{
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCONTACT .contactINFO .box .icon::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
}

.containerCONTACT .contactINFO .box .icon::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: #222
}

.containerCONTACT .contactINFO .box .icon b{
    position: absolute;
    inset: 8px;
    background: #01dbc2;
    z-index: 2;
}

.containerCONTACT .contactINFO .box .icon i{
    position: relative;
    z-index: 1000;
    color: #333;
    font-size: 1.25em;
}

.containerCONTACT .contactINFO .box .text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-style: 1.1em;
    color: #fff;
    font-weight: 300;
}

.containerCONTACT .contactINFO .box .text h3{
    font-weight: 500;
    color: #01dbc2;

}

.containerCONTACT .contactINFO .txt {
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid #01dbc2;
    padding-left: 10px;
    line-height: 1em;
}

.containerCONTACT .contactINFO .sci{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.containerCONTACT .contactINFO .sci li{
    list-style: none;

}

.containerCONTACT .contactINFO .sci li a{
    color: #fff;
    font-size: 1.5em;
    transition: 0.25s;
}

.containerCONTACT .contactINFO .sci li a:hover{
    color: #01dbc2;
    filter: drop-shadow(0 0 5px #01dbc2);
}

.containerCONTACT .contactform{
    position: relative;
    width: 40%;
    background: repeating-conic-gradient(from var(--a), #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    padding: 60px;
}

.containerCONTACT .contactform::before{
    content: '';
    position: absolute;
    inset:0;
    background: repeating-conic-gradient(from var(--a), #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;

}

.containerCONTACT .contactform::after{
    content: '';
    position: absolute;
    inset:2px;
    border: 20px solid #222;
    background: #333;
}

.containerCONTACT .contactform form{
    position: relative;
    z-index: 10;
}

.containerCONTACT .contactform h2{
    font-size: 2em;
    color: #fff;
    font-weight: 500;

}

.containerCONTACT .contactform .InputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.containerCONTACT .contactform .InputBox input,
.containerCONTACT .contactform .InputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #01dbc2;
    color: #fff;
    outline: none;

}

.containerCONTACT .contactform .InputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #fff;
    transition: 0.5s;
}
.containerCONTACT .contactform .InputBox input:focus ~ span,
.containerCONTACT .contactform .InputBox textarea:focus ~ span
.containerCONTACT .contactform .InputBox input:valid ~ span,
.containerCONTACT .contactform .InputBox textarea:valid ~ span{
    color: #01dbc2;
    font-size: 0.9em;
    transform: translateY(-24px);
}

.containerCONTACT .contactform .InputBox input[type="submit"]
{
    width: 100%;
    background: #01dbc2;
    color: #222;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}


@keyframes animate
{
    0%{
        --a: 0deg
    }
    100%{
        --a: 360deg
    }
}

/* Responsive */

@media (max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .containerCONTACT,
    .navbar
    {
        flex-direction: column;
    }
    .containerCONTACT .contactINFO,
    .containerCONTACT .contactform
    {
        width: 100%;
    }

    .containerCONTACT .contactform
    {
        padding: 40px;
    }
    .containerCONTACT .contactform {
        padding: 40px;
    }
    
}